@import url('https://fonts.google.com/specimen/Kumbh+Sans');
* {
    /* background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%)); */
}

body {
    background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    font-family: 'Kumbh Sans', sans-serif;
}
.page {
    overflow: hidden;
}
.faq-card {
    background-color: #ffffff;
    width: 60%;
    margin: auto;
    border: 2px solid #ffffff;
    border-radius: 10px;
    padding: 4rem 0;
}
.card-bg-img {
    position: absolute;
    overflow: hidden;
    bottom: 7rem;
    right: 55rem;
}
.images, .faq-qna {
    display: inline-block;
}
.images {
    position: absolute;
}
.images .img1{
    width: 400px;
    left: 15rem;
    top: 5rem;
    position: relative;
}
.images .img2 {
    position: relative;
    z-index: 10;
    right: 12rem;
    top:3rem;
}
.faq-qna {
    width: 400px;
    margin: auto;
    position: relative;
    left: 25rem;
}
.question {

}
.hide {
    display: none;
}
.question img {
    text-align: left;
    width: 15px;
}
button {
    background: none;
    cursor: pointer;
    border: none;
}
hr {
    width: ;
}
.bold {
    font-weight: bold;;
}
/* @media only screen and (max-width: 375px) {
    .images, .faq-qna {
        display: ;
    }
  } */